.allClinicAppointmentBody {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 98%;
  background-color: var(--grey-color);
  padding: 1em;
  border-radius: 30px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  min-height: 6em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.appointmentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.clientName,
.appointmentTime {
  font-size: 1em;
}
.appointmentBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appointmentsComplains {
  width: 90%;
  flex-wrap: wrap;
}
.coment {
  font-size: 0.8em;
  width: 100%;
}

.ButtonBox {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.editModalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

.editModalBody {
  background-color: var(--dark-grey-color);
  border-radius: 30px;
  display: flex;
  gap: 1em;
  padding: 0 1em;
  align-items: center;
  height: 6em;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  width: fit-content;
}

.appointmentsEmoji {
  bottom: 0;
  right: 0;
  border: 1px solid rgb(0, 255, 42);
}

.emojiToggleBtn {
  font-size: 1.2em;
  padding: 0.3em 0.5em;
  border-radius: 8px;
  background-color: var(--white-color);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.emojiContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 19.2em;
  z-index: 99999;
}

.editBtn {
  text-decoration: none;
  font-size: 1em;
  color: var(--black-color);
  background-color: var(--white-color);
  border-radius: 9999px;
  border: none;
  padding: 0.5em 1em 0.5em 0.5em;
  position: relative;
  z-index: 1000;
  transition: color 0.3s ease;
  display: flex;
  gap: 0.5em;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.editToggleBtn {
  background-color: var(--grey-color);
  font-size: 1.2em;
  padding: 0.3em 0.5em;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
