@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.weeklyScheduleBody {
height: 100vh;
position: relative;
padding-top: 10vh;
font-family: "Inter", sans-serif;
}
.weeklyScheduleContent {
    height: 90vh;
    width: 90%;
    border-radius: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: .5em;
  }
  
  .room {
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 0 .5em;
    height: 44.6vh;
  }
  .roomName{
    font-size: 1em;
    width: 100%;
    height: 5%;
  }
  .appointmentContainer{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
  }
  .roomPersonal{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
  }
  .roomPersonal h1{
    font-size: 1em;
  }
  .roomPersonal h1 span{
    color: grey;
  }
.logOutBtn {
border: 2px solid #ff5858;
color: #ff5858;
padding: 1em 2em;
font-weight: 600;
width: 9%;
margin: 0.5em;
font-size: 1em;
background: transparent;
border-radius: 10px;
cursor: pointer;
transition: all ease-in-out 0.1s;
position: absolute;
bottom: 0;
left: 0;
}