@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
.headerBody {
  padding: 1em;
  display: flex;
  flex-direction: column;
  height: 15vh;
  gap: .5em;
  font-weight: 600;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headerContent {
  border-radius: 9999px;
  background-color: var( --white-grey);
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  position: relative;
}

.headerLogo {
  padding: 0 1em;
  display: flex;
  gap: 1em;
  align-items: center;
  border-radius: 9999px;
  position: absolute;
  left: 0;
  font-family: "Lexend", sans-serif;
}

.headerLogo img {
  aspect-ratio: 1/1;
  height: 2em;
}

.navBar {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: .3em;
  background-color: var(--grey);
  border-radius: 9999px;
  position: relative;
}

.navBarBtn {
  text-decoration: none;
  font-size: 1em;
  color: var(--black-color);
  border-radius: 9999px;
  padding: .8em;
  height: 100%;
  position: relative;
  z-index: 1000;
  user-select: none;
  transition: color 0.3s ease;
  font-size: .8em;
}

.navBarBtn:hover {
  color: #000;
}

.navBarBtn.active {
  color: var(--white-grey);
}

.selection {
  position: absolute;
  background-color: var(--black-color);
  border-radius: 9999px;
  z-index: 0;
  pointer-events: none;
}

.profileConteiner{
  margin-right: 1em;
  display: flex;
  gap: .5em;
  align-items: center;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.profileImg{
  background-color: var(--black-color);
  aspect-ratio: 1/1;
  height: 3em;
  border-radius: 9999px;
}

.profileInfo{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.profileInfo h4{
  height: fit-content;
}

.AppointmentActionBtnContaier {
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.profileAvatar {
  height: 3em;
  width: 3em;
  border-radius: 50%;
}
.profileModalBody{
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 1em;
  z-index: 10000;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.profileModalContent{
  background-color: var(--white-grey);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: .5em;
  right: 1em;
  top: 5.5em;
  border-radius: 20px;
  padding: 1em;
  width: 13em;
  animation: slideIn 0.5s ease-out forwards;
}

.profileModalContent.closing{
  animation: slideOut 0.5s ease-in forwards;
}
