
.calendarBody{
    position: fixed;
    z-index: 1000;
    padding: 0.75rem 0.75rem;
    font-size: 1em;
    margin-top: .1em;
}
.calendarContent{
    background-color: #ededed;
    padding: .5em;
    border-radius: 10px;
    align-content: center;
    height: 19.7em;
    width: 26.3em;
    border: 2px solid #58b8fd;
    border-radius: 0.375rem;
    background: #f5f5f5;
}
.calendarHeader{
    display: flex;
    justify-content: center;
    gap: .5em;
}
.calendarHeader h2{
    width: 60%;
    text-align: center;
}
.calendarHeader button{
    background-color: transparent;
    border: none;
}
.calendarGrid {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5em;
  }
  .calendarDay {
    aspect-ratio: 1/1;
    border: 1px solid #ccc;
    padding: .2em;
    height: 2.7em;
    text-align: center;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-weight: bold;
    cursor: pointer;
    align-content: center;
  }